/* @import './mocha.css'; */
@import "macchiato.css";

* {
    font-family: "RecMonoCasual Nerd Font Propo";
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    /* background: @base; */
    /* border: 1px solid @overlay; */
    border: none;
}

/* waybar */
window#waybar {
    background: transparent;
    /* color: @base; */
    border-radius: 10px;
    transition-property: background;
    transition-duration: 0.5s;
    margin-top: 5px;
}

window#waybar.hidden {
    opacity: 0.2;
}

/* make window module transparent when no windows present */
window#waybar.empty #window {
    background-color: transparent;
}

tooltip {
    background: rgba(36, 39, 58, 0.8);
    border: 1px solid rgba(110, 115, 141, 0.8);
    border-radius: 10px;
    padding: 2px 5px;
}

tooltip label {
    color: @subtext1;
    /*background: transparent;*/
}

/*
 * hyprland/workspace */
#workspaces {
    border-radius: 10px;
    padding: 0px 10px;
    /* border: 2px solid @mauve; */
}

#workspaces button {
    padding: 0px 5px;
    /* background: @surface0; */
    color: @overlay2;
    border: none;
    border-radius: 10px;
}

#workspaces button:hover {
    color: @rosewater;
    background: @overlay0;
}

#workspaces button.active {
    color: @pink;
    /* background: @surface1; */
    /* box-shadow: inset 0 -1px #ffffff; */
}

#workspaces button.empty {
    color: @overlay0;
}

/*#workspaces button.visible {*/
/*    color: @blue;*/
/*}*/

#workspaces button.urgent {
    color: @red;
}

/*
 * hyprland/window */
#window {
    color: @teal;
}

#clock,
/*#cpu,*/
/*#memory,*/
/*#disk,*/
#hardware,
#idle_inhibitor,
#backlight,
#network,
#bluetooth,
#wireplumber,
#custom-hint,
#custom-media,
#custom-pkg,
#custom-logo,
#custom-weather,
#custom-power,
/*#menu,*/
#tray,
#mode,
#privacy,
#workspaces,
#window,
#mpd {
    padding: 0px 10px;
    background: rgba(24, 25, 38, 0.8);
    /*background: @base;*/
    /*opacity: 0.8;*/
    /* border: 2px solid @mauve; */
    border-radius: 10px;
}

/* If workspaces is the leftmost module, omit left margin */
.modules-left > widget:first-child > #workspaces {
    margin-left: 0;
}

/* If workspaces is the rightmost module, omit right margin */
.modules-right > widget:last-child > #workspaces {
    margin-right: 0;
}

#clock {
    color: @yellow;
}

@keyframes blink {
    to {
        color: #ffffff;
        color: #000000;
    }
}

label:focus {
    background: @flamingo;
}

#cpu {
    color: @yellow;
}

#memory {
    color: @teal;
}

#disk {
    color: @rosewater;
}

#custom-hint {
    color: @sapphire;
}

#custom-separator {
    padding: 0px 5px;
    color: @overlay2;
}

#custom-pkg {
    color: @green;
    padding: 0px 10px;
    margin: 0px 2px;
}

#custom-logo {
    color: @blue;
    margin-left: 4px;
}

#custom-weather {
    color: @sky;
    padding: 0px 10px;
    margin-right: 2px;
}

#bluetooth {
    color: @blue;
}

/* upower */
#upower {
    color: @teal;
}

#upower.charging {
    color: @green;
}

#upower.discharging {
    color: @red;
}

#upower.unknown-status {
    color: @yellow;
}

/* network */
#network {
    color: @lavender;
}

#network.disconnected {
    color: @yellow;
}

/* wireplumber */
#wireplumber {
    color: @pink;
}

#wireplumber.muted {
    color: @red;
}

/* tray */
#tray {
    /* color: @base; */
    color: @teal;
}

#tray > .passive {
    -gtk-icon-effect: dim;
}

#tray > .needs-attention {
    -gtk-icon-effect: highlight;
    color: @red;
}

/* idle_inhibitor */
#idle_inhibitor {
    color: @mauve;
}

#idle_inhibitor.activated {
    color: @pink;
}

#custom-power {
    color: @red;
    margin-right: 4px;
}

/* mpd */
#mpd {
    color: @sapphire;
}

#mpd.disconnected {
    color: @red;
}

#mpd.stopped {
    color: @pink;
}

#mpd.paused {
    color: @flamingo;
}

/* privacy module */
#privacy {
    color: @red;
}

#privacy-item {
    padding: 0px 2px;
    color: @green;
}

#privacy-item.screenshare {
    color: @blue;
}

#privacy-item.audio-in {
    color: @sky;
}

#privacy-item.audio-out {
    color: @teal;
}

menu {
    border-radius: 10px;
    background: rgba(36, 39, 58, 0.8);
    /*background: #161320;*/
    color: @red;
}
menuitem {
    border-radius: 10px;
}
